<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74990233474-gu8flktngpvgneuelrmlefl51dghdig0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74990233474-gu8flktngpvgneuelrmlefl51dghdig0</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJWY7lCj4N0_8Cyf3z0dJV_KR0YPhlEI</string>
	<key>GCM_SENDER_ID</key>
	<string>74990233474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donaldseo.Lift</string>
	<key>PROJECT_ID</key>
	<string>lift-83586</string>
	<key>STORAGE_BUCKET</key>
	<string>lift-83586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74990233474:ios:8e0aaeb80fb7a62351519b</string>
	<key>DATABASE_URL</key>
	<string>https://lift-83586.firebaseio.com</string>
</dict>
</plist>